*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family:  serif;
    background-color: 	#777777;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    position: relative;
    min-height: 40vh;
    width: 37%;
    background-color: #cccccc;
    display: flex;
    color: rgb(57, 57, 57);
    align-items:center;
    flex-direction: column;
    gap: 3vh;
    padding: 1.5% 1.5%;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.497);
}
main>h1{
    font-size: 2.5vw;
    text-decoration: underline;
}
#amount{
    font-size: 1.2vw;
    /* text-align: center; */
    font-weight: 600;
}
#amount>input{
    width: 100%;
    font-size: 1.2vw;
    border: none;
    border-radius: 5px;
    padding: 1% 3%;
    margin: 2% 0%;
    background-color:#ebebebfe;
    border: 1px solid #b0b0b0f3;
}
#converter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    /* background-color: #8a7e72; */
    padding: 2% 2%;
    border: 2px solid rgb(167, 167, 167);
    border-radius: 10px;
}
#converter>i{
    font-size: 2.5vw;
}
.selection{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1px 4px;
    margin-top: 5px;
    border-radius: 5px;
}
.selection>img{
    height: 4vh;
    margin-right:10px;
}
.selection>select{
    margin: 0.5vh 0vh;
    padding: 1% 1%;
    border: none;
    /* border: 1px solid rgb(172, 140, 104); */
    outline: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 1.1vw;
}
#changeVal{
    font-weight: 600;
}
main>button{
    width: 80%;
    padding:1% 0%;
    border-radius: 5px;
    font-size: 1.1vw;
    color: white;
    font-weight:700;
    background-color: #343a40;
}

@media(max-width:1000px){
    main{
        width: 57%;
    }
    main>h1{
        font-size: 4.5vw;
    }
    #amount{
        font-size: 3vw;
    }
    #amount>input{
        font-size: 3vw;
    }
    #converter>i{
        font-size: 4.5vw;
    }
    #from>p,#to>p{
        font-size: 3vw;
    }
    .selection>select{
        font-size: 2vw;
    }
    #changeVal{
        font-size: 2.5vw;
    }
    main>button{
        font-size: 2vw;
    }
    main>h2{
        font-size: 3.5vw;
    }
}
@media(max-width:350px){
    .selection{
        font-size: 2vw;
        padding: 0px 0px;
    }
}